body {
  background-color: #A0BCC2;
  font-family: garamond;
  border-style: groove;
}

center {
  border: 10%;
  background-color: #F9EBC8;
  padding-bottom: 2.5px;
  border-style:inset;
}

hr {
  border-top: 4px dotted;
  border-top-color: #A0BCC2;
  max-width:  82%;
}

h1 {
  color: #8dc6d3;
}

h2 {
  font-size: 30px;
  color: #393E46;
}

h3 {
  color: #393E46;
  font-size: 35px;
}

#description {
  font-size: 20px;
  font-family: garamond;
}

input {
  height: 20px;
  padding: 7px;
  border-radius: 28px;
  border: 2px;
}

#mediatable {
  height: 40px;
}

#mailinglist {
  padding-left: 15px;
}

table th {
  height: 1px;
}

.ghosts span#a {
  display: inline;
}

.ghosts:hover span#a {
  display: none;
}

.ghosts span#b {
  display: none;
}

.ghosts:hover span#b {
  display: inline;
}

.button-74 {
  background-color: #DAE5D0;
  border: 2px solid #A0BCC2;
  border-radius: 30px;
  box-shadow: #A0BCC2 4px 4px 0 0;
  color: #A0BCC2;
  cursor: pointer;
  display: inline-block;
  font-weight: 600;
  font-size: 18px;
  padding: 0 18px;
  line-height: 50px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-74:hover {
  background-color: #fff;
}

.button-74 {
  min-width: 120px;
  padding: 0 25px;
}