body {
  background-color: #EEEEEE;
  font-family: garamond;
}

hr {
  border-top: 4px dotted;
  border-top-color: hsl(216, 18%, 46%);
  max-width:  82%;
}

h1 {
  color: #393E46;
}

h2 {
  font-size: 30px;
  color: #393E46;
}

h3 {
  color: #393E46;
  font-size: 35px;
}

a:link {
  color: #393E46;
}

a:hover {
  color: #393E46;
}

/* a:visited {
  color: #95adbe;
}
a:active {
  color: #4f3a65;
} */

#description {
  font-size: 20px;
  font-family: garamond;
}

input {
  height: 20px;
  padding: 7px;
  border-radius: 28px;
  border: 2px;
}

#mediatable {
  height: 40px;
}

#mailinglist {
  padding-left: 15px;
}

table th {
  height: 1px;
}

.ghosts span#a {
  display: inline;
}

.ghosts:hover span#a {
  display: none;
}

.ghosts span#b {
  display: none;
}

.ghosts:hover span#b {
  display: inline;
}